<!-- FOOTER -->
<footer class="footer bg-azul-principal text-white py-12 mt-12">
  <div class="max-w-7xl mx-auto text-center px-4 sm:px-6">
    <h3 class="text-3xl font-bold mb-4">Uso Correcto del Celular</h3>
    <div class="h-1 w-24 bg-rosado-acento mx-auto rounded-full mb-6"></div>
    <p class="text-xl mb-2">
      Brindar una guía sencilla y clara para aprender a usar el celular paso a
      paso.
    </p>
    <p class="text-xl mb-2">
      Centro Diurno AATEGRE — San Roque, Grecia, Costa Rica
    </p>
    <p class="text-xl">Tel: (+506) 8709-0984 | Correo: aategre@ice.co.cr</p>
    <p class="mt-6 text-lg opacity-80">
      © 2026 Uso Correcto del Celular — Todos los derechos reservados
    </p>
    <p class="text-lg opacity-80">
      Trabajo Comunal Universitario (TCU) – Elaborado por: Ariana de los Angeles
      Morera Castro
    </p>
  </div>
</footer>
